#root{
  display: flex;
  align-items: center;
  justify-content: center;
}
#quote-box{
  display: flex;
  flex-direction: column; 
  align-self: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  
}
footer{
  display: flex;
  flex-direction: row; 
}
input[type="button"]{
  padding: 10px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
  margin: 10px;
}
#text{
  display: flex;
  width: 400px;
  align-items: center;
}